

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;

 
}


.here-menu a:hover {
  color: #335687;
}
 .lien-icone {
  margin-left: 30px;
}

.lien-icone:hover {
  opacity: 0.5;
}

section {
 color: orange;
}
li::marker {
    color: blue; /* couleur du point */
  }
  
h2  {
  color: #335687;
  padding-left: 30px;
}

h3  {
  color: #335687;
  padding-left: 30px;
}

h4  {
  color: #335687;
  padding-left: 30px;
}
h1  {
  color: #335687;
  padding-left: 30px;
}
p  {
padding-left: 30px;
}




  
    footer{
    text-align: center;
  }

   .footer-logo {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;


   }
   .footer-download {
    width: 100%;
    height: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:12px;
    gap:20px

   }

  .footer-logo i {
 
    margin-left: 15px;
    margin-right: 15px;
    background-color: #0f2b5b;
    padding: 12px;
    border-radius: 50%;
    color: white;
  
  }

apple-store {
border:0;
border-radius: 0px;
 width: 103px;
  width: 40px;
    height: auto;
    margin: 10px;
 
}
 .color{
  background-color: orange;
  width: 100%;
  height: 10px;
 }
 
 .lists a {
  text-decoration: none;
   color: orange !important;
 
 }

  .lists a:hover {
    text-decoration: underline;
  }